<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>    
    <!-- The targetDatabase connection string is where the test driver will execute the files in scriptFolder -->
    <add name="targetDatabase" connectionString="[paste connection string here]" providerName="System.Data.SqlClient" />

    <!-- The telemetryDb connection string is where the test driver will log test results.  DDL for the objects the driver expects are in this project in TelemetryDbObjects.sql -->
    <!-- The driver assumes this is an Azure SQL Database.  SQL Serverless is a good option, but requires a connection timeout of apprx 60 seconds. -->
    <add name="telemetryDb" connectionString="[paste connection string here]" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <add key="testDurationInMinutes" value="10"/>
    <add key="concurrencyLimit" value="3"/>
    <add key="scriptFolder" value="c:\mytestcases" />
    
    <!-- Random, SinglePass, or SequentiaLoop -->
    <add key="fileSelectionMode" value="SequentialLoop" />
    
    <add key="saveSystemViews" value="false" />    
    <add key="appendStatementLabel" value="true" />
    
  </appSettings>
</configuration>